.botao {
    margin: 32px 0;
    padding: 32px;
    width: 167px;
    height: 80px;
    background-color: #6278F7;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.botao:hover {
    color: #95FFD4;
}